##############################################################
# This is PXF service's classpath file
# Any connector should be added here, one resource per line.
# e.g. /usr/lib/myconnector/myconnector.jar
# Wildcard characters (*,[],?) are supported for the file names
# e.g. /usr/lib/myconnector/*.jar
#      /usr/lib/myconnector/myconnector*[0-9].jar
##############################################################
/usr/lib/hadoop/hadoop-common-2.2.0.2.0.6.0-102.jar
/usr/lib/hadoop/hadoop-auth-2.2.0.2.0.6.0-102.jar
/usr/lib/hadoop-hdfs/hadoop-hdfs-2.2.0.2.0.6.0-102.jar
/usr/lib/hadoop-mapreduce/hadoop-mapreduce-client-core-2.2.0.2.0.6.0-102.jar
/usr/lib/hadoop/lib/slf4j-log4j12-1.7.5.jar


# mirgle this stuff copied
/etc/hadoop/conf
# # /etc/gphd/hbase/conf
# # /etc/gphd/hive/conf
/usr/lib/hadoop-hdfs/hadoop-hdfs-2.2.0.2.0.6.0-102.jar
/usr/lib/hadoop-mapreduce/hadoop-mapreduce-client-core-2.2.0.2.0.6.0-102.jar
/usr/lib/hadoop/hadoop-auth-2.2.0.2.0.6.0-102.jar
/usr/lib/hadoop/hadoop-common-2.2.0.2.0.6.0-102.jar
/usr/lib/hadoop/lib/asm-3.2.jar
/usr/lib/hadoop/lib/avro-1.7.4.jar
/usr/lib/hadoop/lib/commons-cli-1.2.jar
/usr/lib/hadoop/lib/commons-codec-1.4.jar
/usr/lib/hadoop/lib/commons-collections-3.2.1.jar
/usr/lib/hadoop/lib/commons-configuration-1.6.jar
/usr/lib/hadoop/lib/commons-io-2.1.jar
/usr/lib/hadoop/lib/commons-lang-2.5.jar
/usr/lib/hadoop/lib/commons-logging-1.1.1.jar
/usr/lib/hadoop/lib/guava-11.0.2.jar
/usr/lib/hadoop/lib/jackson-core-asl-1.8.8.jar
/usr/lib/hadoop/lib/jackson-mapper-asl-1.8.8.jar
/usr/lib/hadoop/lib/jersey-core-1.9.jar
/usr/lib/hadoop/lib/jersey-server-1.9.jar
/usr/lib/hadoop/lib/log4j-1.2.17.jar
/usr/lib/hadoop/lib/protobuf-java-2.5.0.jar
/usr/lib/hadoop/lib/slf4j-api-1.7.5.jar
 # /usr/lib/gphd/hbase/lib/hbase-client.jar I don't have this
 # /usr/lib/gphd/hbase/lib/hbase-common.jar
 # /usr/lib/gphd/hbase/lib/hbase-protocol.jar
 # /usr/lib/gphd/hbase/lib/htrace-core-*[0-9].jar
/usr/lib/hadoop/lib/netty-3.6.2.Final.jar
/usr/lib/zookeeper/zookeeper.jar
 # /usr/lib/gphd/hive/lib/antlr-runtime-*[0-9].jar
 # /usr/lib/gphd/hive/lib/datanucleus-api-jdo-*[0-9].jar
 # /usr/lib/gphd/hive/lib/datanucleus-core-*[0-9].jar
 # /usr/lib/gphd/hive/lib/hive-exec.jar
 # /usr/lib/gphd/hive/lib/hive-metastore.jar
 # /usr/lib/gphd/hive/lib/jdo-api-*[0-9].jar
 # /usr/lib/gphd/hive/lib/libfb303-*[0-9].jar
 # /usr/lib/gphd/pxf/pxf-hbase-*[0-9].jar
 # /usr/lib/gphd/pxf/pxf-hive-*[0-9].jar
