##############################################################
# This is PXF service's classpath file
# Any connector should be added here, one resource per line.
# e.g. /usr/lib/myconnector/myconnector.jar
# Wildcard characters (*,[],?) are supported for the file names
# e.g. /usr/lib/myconnector/*.jar
#      /usr/lib/myconnector/myconnector*[0-9].jar
##############################################################
/etc/hadoop/conf

/usr/hdp/2.2.4.2-2/hadoop/hadoop-common.jar
/usr/hdp/2.2.4.2-2/hadoop/hadoop-auth.jar
/usr/hdp/2.2.4.2-2/hadoop-hdfs/hadoop-hdfs.jar
/usr/hdp/2.2.4.2-2/hadoop-mapreduce/hadoop-mapreduce-client-core.jar
/usr/hdp/2.2.4.2-2/hadoop/lib/slf4j-log4j12-*[0-9].jar
/usr/hdp/2.2.4.2-2/hadoop-hdfs/hadoop-hdfs.jar
/usr/hdp/2.2.4.2-2/hadoop-mapreduce/hadoop-mapreduce-client-core.jar
/usr/hdp/2.2.4.2-2/hadoop/hadoop-auth.jar
/usr/hdp/2.2.4.2-2/hadoop/hadoop-common.jar
/usr/hdp/2.2.4.2-2/hadoop/lib/asm-*[0-9].jar
/usr/hdp/2.2.4.2-2/hadoop/lib/avro-*[0-9].jar
/usr/hdp/2.2.4.2-2/hadoop/lib/commons-cli-*[0-9].jar
/usr/hdp/2.2.4.2-2/hadoop/lib/commons-codec-*[0-9].jar
/usr/hdp/2.2.4.2-2/hadoop/lib/commons-collections-*[0-9].jar
/usr/hdp/2.2.4.2-2/hadoop/lib/commons-configuration-*[0-9].jar
/usr/hdp/2.2.4.2-2/hadoop/lib/commons-io-*[0-9].jar
/usr/hdp/2.2.4.2-2/hadoop/lib/commons-lang-*[0-9].jar
/usr/hdp/2.2.4.2-2/hadoop/lib/commons-logging-*[0-9].jar
/usr/hdp/2.2.4.2-2/hadoop/lib/guava-*[0-9].jar
/usr/hdp/2.2.4.2-2/hadoop/lib/jackson-core-asl-*[0-9].jar
/usr/hdp/2.2.4.2-2/hadoop/lib/jackson-mapper-asl-*[0-9].jar
/usr/hdp/2.2.4.2-2/hadoop/lib/jersey-core-*[0-9].jar
/usr/hdp/2.2.4.2-2/hadoop/lib/jersey-server-*[0-9].jar
/usr/hdp/2.2.4.2-2/hadoop/lib/log4j-*[0-9].jar
/usr/hdp/2.2.4.2-2/hadoop/lib/protobuf-java-*[0-9].jar
/usr/hdp/2.2.4.2-2/hadoop/lib/slf4j-api-*[0-9].jar
/usr/hdp/2.2.4.2-2/hadoop/lib/netty-*[0-9].Final.jar
/usr/hdp/2.2.4.2-2/zookeeper/zookeeper.jar